name: mds_gateway

networks:
  tunnel:
    enable_ipv6: true
    ipam:
      config:
        - subnet: "{{ docker_ipv6_network_subnet_tunnel }}"

secrets:
  tunnel_authorized_keys:
    file: ./secrets/tunnel_authorized_keys
  tunnel_ssh_host_ed25519_key:
    file: ./secrets/tunnel_ssh_host_ed25519_key

services:
  caddy:
    build:
      context: ./caddy_container
    networks:
      - tunnel
    ports:
      - "25564:25564"
      - "25565:25565"
    restart: unless-stopped
    volumes:
      - /opt/docker/caddy_config:/config
      - /opt/docker/caddy_data:/data

  tunnel_host:
    build:
      context: ./tunnel_host_container
    networks:
      - tunnel
    ports:
      - "1022:1022"
    restart: unless-stopped
    secrets:
      - tunnel_authorized_keys
      - tunnel_ssh_host_ed25519_key
